* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: yellow;
  color: white;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(./shared/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(./shared/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(./shared/fonts/OpenSans-Regular.ttf);
}
